.banner {
  background-image: url("kid-playing-with-pregnant-belly.jpg"); 
  background-size: cover;
  background-position: center;
  padding: 2.5rem 0;
  min-height: 100vh;
  width: auto;
  margin: 0;
 }

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  color:white;
  margin-top:-10px;
}

.banner h2, h3 {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border: 1px solid white;
  font-size: 16px;
  margin-top: 375px;
  background-color: white;
  padding: 5px;
  font-weight: 900;
  text-align: center;
}

.banner h3 {
  margin-top: 10px;
}

.banner h4 {
  color: white;
  padding-top: 25px;
  font-size: 15px;
  padding-bottom: -15px;
}

.banner h5 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 16px;
  padding-left: 24px;
  margin-top: -18px ;
}

.banner p {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

#chevron {
  color: white;
  padding-left: 150px;

}
.banner i {
  margin-top: 10px;
  font-size: 54px;
}

#home-privacy {
  opacity: 0;
}

#form-text {
  opacity: 0;
}

.btn {
  margin-left:200px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  color: black;
  padding-bottom: 5px;
  position: sticky;
  margin-top: 40px;
  font-size: 28px;
}

.form-email{
  padding-top: 50px;
  width: 100%;
  margin-bottom: 5px;
}

.form-email h2{
  align-content: center;
  width: 100%;
  // display:  flex;
  margin-bottom: 1.5rem;
}

.container-form {
  background-position: center;
  background-color: white;
  padding-right: -15px !important;
  padding-left: -15px !important;
  height: 100vh;
}

.form-control { 
  width: 255px;
}
#form {
align-content: center !important;
}