.banner {
  background-size: cover;
  background-position: center;
  padding: 2.5rem 0;
  height: 100vh;
  margin: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
 
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
}

.banner h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}

.banner h5 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 16px;
  padding-left: 50px;
  margin-top: -18px ;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  color: white;
  padding-top:500px;
  position: sticky;
}

.form-email{
  padding-top: 50px;
  width: 100%;
  margin-bottom: 5px;
}

.form-email h2{
  align-content: center;
  width: 100%;
  display:  flex;
  margin-bottom: 1.5rem;
}

.container-form {
  background-position: center;
  background-color: white;
  padding-right: -15px !important;
  padding-left: -15px !important;
  height: 100vh;
}

.form-control { 
  width: 255px;
}