<div class="row align-items-center g-lg-5">
  <div class="col-lg-7">
    <div class="banner">
      <div class="container">
        <h4 class="previews">COMING SOON</h3>
        <h1 class="title">parentally.</h1>
        <h5 class="subtitle">Your parental wellbeing within reach.</h5>
        <h2 class="text-1">Seach and book consultations</h2>
        <h3 class="text-2">with qualified and caring therapists</h3>
        <p>Learn more</p>
        <a href="#SignUp" id="chevron"><i class="fas fa-chevron-down"></i></a><br>
        <a href="/privacy" id="home-privacy">Privacy and cookies policies</a>
      </div>
    </div>
  </div>
  <div class="col-md-10 mx-auto col-lg-4"> 
    <form class="p-4 border rounded-8 bg-light">
      <div class="form-floating mb-3">
        <h2 class="text" id="form-text">Seach and book <br> consultations with <br> qualified and caring <br> therapists</h2>
        <h1 id="SignUp"><strong>SIGN UP NOW!</strong></h1>
        <p>Curious to hear about our lauch ?<br> Leave your email below</p>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="parent"class="mb-3"> I am parent
              <input type="email" class="form-control mb-3 text-lg-center " id="floatingInput" placeholder="name@example.com">
              <input type="first-name" class="form-control mb-3 text-lg-center" id="floatingPassword" placeholder="first-name">
              <input type="last-name" class="form-control text-lg-center" id="floatingPassword" placeholder="Last-name">
            </label>
          </div>
          <button class="w-20 btn btn-lg btn-primary" type="submit">Sign up</button>
          <div class="footer">
            <div class="footer-links ">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href=""><p>Contact Us</p></a>
            </div>
          </div>
          <h2 class="text" id="form-text">Seach and book <br> consultations with <br> qualified and caring <br> therapists</h2>
          <a href="/privacy" class="form-privacy">Privacy and cookies policies</a>
      </div>

    </div>
  </form>
</div>