<div class="row">
  <div class="col-12 col-lg-8">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <div class="banner">
          <h2>COMMING SOON</h2>
          <h1>parentally.</h1>
          <h5>Your parental wellbeing within reach.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
      <div class="container-fluid">
        <div class="form-email">
          <h2>Seach and book <br> consultation with <br> qualified and caring <br> therapists</h2>
          <h1><strong>SIGN UP NOW !</strong></h1>
          <p>Curious to hear about ourlauch ? <br> Leave your email below</p>
          <form class="form">
          <p>I am parent</p>
            <div class="form-group">
              <div class="form-group mx-sm-3 s">
                <label for="email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="inputemail1" placeholder="Enter your email">
              </div>
            <button type="submit" class="btn btn-flat"> Send</button>
          </form>
        </div>
      </div>
      <form class="form">
          
          <div class="form-group">
            <div class="form-group mx-sm-3 s">
              <div class="type"><p>I am therapist</p></div>
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="inputemail2" placeholder="Enter your email">
            </div>
          <button type="submit" class="btn btn-flat"> Send</button>
        </form>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <p>Contact Us</p>
        <a href="/privacy">Privacy and cookies</a>
      </div>
    </div>
  </div>
</div>

