<div class="row">
  <div class="col-12 col-lg-8">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <div class="banner">
          <h2>COMMING SOON</h2>
          <h1>parentally.</h1>
          <h5>Your parental wellbeing within reach.</h5>
          <div class="footer-copyright">Privacy and cookie policy</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
      <div class="container-form">
        <div class="form-email">
          <h2>Seach and book <br> consultation with <br> qualified and caring <br> therapists</h2>
          <h1><strong>SIGN UP NOW !</strong></h1>
          <p>Curious to hear about ourlauch ? <br> Leave your email below</p>
        </div>
        <form class="form-inline">
          <a class="btn btn-flat" href="#">Privacy and cookies policy</a>
          <div class="form-group mb-2">
            <div class="form-group mx-sm-3 mb-2">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="inputemail1" placeholder="Enter your email">
            </div>
          <button type="submit" class="btn btn-primary mb-2"> Send</button>
        </form>
      </div>
      <form class="form-inline">
        <a class="btn btn-flat" href="#">Privacy and cookies policy</a>
        <div class="form-group mb-2">
          <div class="form-group mx-sm-3 mb-2">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control" id="inputemail1" placeholder="Enter your email">
          </div>
        <button type="submit" class="btn btn-primary mb-2"> Send</button>
      </form>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
