<!-- section Home -->
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="column left">
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
            <h2 class="header-title">COMING SOON </h2>
            <h1 class="main-title">parentally.  </h1>
            <p class="sub-title">Your parental wellbeing within reach </p>
          </div>
          <div class="container-small">
        
          <div class="scroll-up-btn show">
            <i class="fas fa-angle-double-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>    
      <div class="column right">
        </div>
      </div>
    </div>
  </div>
</section>


