.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f5e619;
  transition: background 0.3s ease;
  position: relative;
  margin-left: 268px;
  margin-top: -98px;
}

.btn-flat:hover {
  background: #f5e619;
  color: black;
}