
.form-email{
  padding-top: 50px;
  width: 100%;
  margin-bottom: 5px;
}

.form-email h2{
  align-content: center;
  width: 100%;
  // display:  flex;
  margin-bottom: 1.5rem;
}

.container-form {
  background-position: center;
  background-color: white;
  padding-right: -15px !important;
  padding-left: -15px !important;
  height: 100vh;
}

.form-control { 
  width: 255px;
}

#form {
  align-content: center !important;
}

.form-privacy {
  color: black;
}